body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

.header {
    background-image: url('img/Les pubs de Carambar.jpg');
    background-color: #e88439;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #ff9900;
}

#affichageBlague {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.footer a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
}

.footer a:hover {
    text-decoration: underline;
}
